*,
:before,
:after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246/0.5);
    --tw-ring-offset-shadow: 0 0#0000;
    --tw-ring-shadow: 0 0#0000;
    --tw-shadow: 0 0#0000;
    --tw-shadow-colored: 0 0#0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style: ;
}
*,
:before,
:after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}
:before,
:after {
    --tw-content: "";
}
html,
:host {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family:
        ui-sans-serif,
        system-ui,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        Segoe UI Symbol,
        "Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
}
body {
    margin: 0;
    line-height: inherit;
}
a {
    color: inherit;
    text-decoration: inherit;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto;
}
::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
:disabled {
    cursor: default;
}
img,
svg {
    display: block;
    vertical-align: middle;
}
img {
    max-width: 100%;
}
@media (min-width: 640px) {
}
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 1280px) {
}
@media (min-width: 1536px) {
}
.absolute {
    position: absolute;
}
.relative {
    position: relative;
}
.left-1\/2 {
    left: 50%;
}
.-translate-x-1\/2 {
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.-inset-2 {
    inset: -0.5rem;
}
.inset-0 {
    inset: 0;
}
.z-10 {
    z-index: 10;
}
.mt-0\.5 {
    margin-top: 0.125rem;
}
.flex {
    display: flex;
}
.hidden {
    display: none;
}
.h-14 {
    height: 3.5rem;
}
.h-4 {
    height: 1rem;
}
.h-5 {
    height: 1.25rem;
}
.h-\[2px\] {
    height: 2px;
}
.h-\[34px\] {
    height: 34px;
}
.h-full {
    height: 100%;
}
.w-5 {
    width: 1.25rem;
}
.w-auto {
    width: auto;
}
.w-full {
    width: 100%;
}
.w-px {
    width: 1px;
}
.min-w-\[90px\] {
    min-width: 90px;
}
.max-w-\[45\%\] {
    max-width: 45%;
}
.flex-1 {
    flex: 1 1 0%;
}
.flex-col {
    flex-direction: column;
}
.items-center {
    align-items: center;
}
.justify-end {
    justify-content: flex-end;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.gap-1\.5 {
    gap: 0.375rem;
}
.gap-2 {
    gap: 0.5rem;
}
.rounded-full {
    border-radius: 9999px;
}
.border {
    border-width: 1px;
}
.border-purple-100 {
    --tw-border-opacity: 1;
    border-color: rgb(243 232 255 / var(--tw-border-opacity, 1));
}
.bg-purple-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(233 213 255 / var(--tw-bg-opacity, 1));
}
.bg-white\/50 {
    background-color: #ffffff80;
}
.bg-gradient-to-r {
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
}
.from-purple-500\/0 {
    --tw-gradient-from: rgb(168 85 247/0) var(--tw-gradient-from-position);
}
.from-purple-600 {
    --tw-gradient-from: #9333ea var(--tw-gradient-from-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.from-purple-600\/0 {
    --tw-gradient-from: rgb(147 51 234/0) var(--tw-gradient-from-position);
}
.via-purple-400\/5 {
    --tw-gradient-stops: var(--tw-gradient-from), rgb(192 132 252/0.05) var(--tw-gradient-via-position),
        var(--tw-gradient-to);
}
.via-purple-500 {
    --tw-gradient-stops: var(--tw-gradient-from), #a855f7 var(--tw-gradient-via-position), var(--tw-gradient-to);
}
.via-purple-500\/50 {
    --tw-gradient-stops: var(--tw-gradient-from), rgb(168 85 247/0.5) var(--tw-gradient-via-position),
        var(--tw-gradient-to);
}
.to-purple-300\/0 {
    --tw-gradient-to: rgb(216 180 254/0) var(--tw-gradient-to-position);
}
.to-purple-400 {
    --tw-gradient-to: #ffffff3b var(--tw-gradient-to-position);
}
.to-purple-400\/0 {
    --tw-gradient-to: rgb(192 132 252/0) var(--tw-gradient-to-position);
}
.to-purple-4000 {
    --tw-gradient-to: #ffffff3b var(--tw-gradient-to-position);
}
.to-purple-4000\/0 {
    --tw-gradient-to: rgb(192 132 252/0) var(--tw-gradient-to-position);
}
.to-purple-500 {
    --tw-gradient-to: #a855f7 var(--tw-gradient-to-position);
}
.bg-clip-text {
    -webkit-background-clip: text;
    background-clip: text;
}
.p-1\.5 {
    padding: 0.375rem;
}
.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.px-2\.5 {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}
.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.py-1\.5 {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
}
.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}
.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.font-black {
    font-weight: 900;
}
.font-medium {
    font-weight: 500;
}
.tracking-wide {
    letter-spacing: 0.025em;
}
.tracking-wider {
    letter-spacing: 0.05em;
}
.text-gray-600 {
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity, 1));
}
.text-transparent {
    color: transparent;
}
.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}
.opacity-0 {
    opacity: 0;
}
.shadow-lg {
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0#0000), var(--tw-ring-shadow, 0 0#0000), var(--tw-shadow);
}
.shadow-purple-100\/20 {
    --tw-shadow-color: rgb(243 232 255/0.2);
    --tw-shadow: var(--tw-shadow-colored);
}
.blur-xl {
    --tw-blur: blur(24px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate)
        var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.backdrop-blur-sm {
    --tw-backdrop-blur: blur(4px);
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast)
        var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity)
        var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast)
        var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity)
        var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}
.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.transition-opacity {
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.duration-200 {
    transition-duration: 0.2s;
}
.duration-300 {
    transition-duration: 0.3s;
}
html {
    scroll-behavior: smooth !important;
}
body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: background-color 0.5s ease-in-out;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background-color: #3b07644d;
    --tw-backdrop-blur: blur(4px);
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast)
        var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity)
        var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast)
        var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity)
        var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    border-radius: 100vh;
}
::-webkit-scrollbar-thumb {
    background-color: #a855f780;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #c084fc80;
}
::-webkit-scrollbar-thumb {
    border-radius: 100vh;
    border: 2px solid transparent;
    background-clip: padding-box;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
* {
    scrollbar-color: rgba(168, 85, 247, 0.5) rgba(88, 28, 135, 0.3);
}
::selection {
    background-color: #a855f733;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}
@keyframes float {
    0% {
        transform: translateY(100%);
    }
    to {
        transform: translateY(-100%);
    }
}
::-webkit-scrollbar {
    display: none;
}
* {
    -ms-overflow-style: none;
}
* {
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
}
.hover\:text-purple-600:hover {
    --tw-text-opacity: 1;
    color: rgb(147 51 234 / var(--tw-text-opacity, 1));
}
.hover\:opacity-80:hover {
    opacity: 0.8;
}
.group:hover .group-hover\:opacity-100 {
    opacity: 1;
}
.dark\:border-purple-900\/50:is(.dark *) {
    border-color: #ffffff;
}
.dark\:bg-gray-800\/50:is(.dark *) {
    background-color: #1f293780;
}
.dark\:bg-purple-800\/50:is(.dark *) {
    background-color: #6b21a880;
}
.dark\:from-purple-400:is(.dark *) {
    --tw-gradient-from: #ffffff3b var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(192 132 252/0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.dark\:from-purple-400\/0:is(.dark *) {
    --tw-gradient-from: rgb(192 132 252/0) var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(192 132 252/0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.dark\:from-purple-500:is(.dark *) {
    --tw-gradient-from: #0f0f0fff var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(168 85 247/0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.dark\:via-purple-300:is(.dark *) {
    --tw-gradient-to: rgb(216 180 254/0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), #d8b4fe var(--tw-gradient-via-position), var(--tw-gradient-to);
}
.dark\:via-purple-300\/5:is(.dark *) {
    --tw-gradient-to: rgb(216 180 254/0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), rgb(216 180 254/0.05) var(--tw-gradient-via-position),
        var(--tw-gradient-to);
}
.dark\:via-purple-300\/50:is(.dark *) {
    --tw-gradient-to: rgb(216 180 254/0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), rgb(216 180 254/0.5) var(--tw-gradient-via-position),
        var(--tw-gradient-to);
}
.dark\:to-purple-200:is(.dark *) {
    --tw-gradient-to: #e9d5ff var(--tw-gradient-to-position);
}
.dark\:to-purple-200\/0:is(.dark *) {
    --tw-gradient-to: rgb(233 213 255/0) var(--tw-gradient-to-position);
}
.dark\:to-purple-400:is(.dark *) {
    --tw-gradient-to: #ffffff3b var(--tw-gradient-to-position);
}
.dark\:text-gray-300:is(.dark *) {
    --tw-text-opacity: 1;
    color: rgb(209 213 219 / var(--tw-text-opacity, 1));
}
.dark\:shadow-purple-900\/20:is(.dark *) {
    --tw-shadow-color: rgb(88 28 135/0.2);
    --tw-shadow: var(--tw-shadow-colored);
}
.dark\:hover\:text-purple-400:hover:is(.dark *) {
    --tw-text-opacity: 1;
    color: #adb4fa; / var(--tw-text-opacity, 1));
}
@media (min-width: 640px) {
    .sm\:h-16 {
        height: 4rem;
    }
    .sm\:h-6 {
        height: 1.5rem;
    }
    .sm\:h-\[38px\] {
        height: 38px;
    }
    .sm\:w-auto {
        width: auto;
    }
    .sm\:min-w-\[120px\] {
        min-width: 120px;
    }
    .sm\:max-w-none {
        max-width: none;
    }
    .sm\:gap-2 {
        gap: 0.5rem;
    }
    .sm\:px-4 {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .sm\:text-xl {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
}
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
    .lg\:block {
        display: block;
    }
}
@media (min-width: 1280px) {
}

@keyframes slide-in-one-tap {
    from {
        transform: translateY(80px);
    }
    to {
        transform: translateY(0px);
    }
}
.light-sweep {
  overflow: hidden; /* garante que a animação fique dentro do elemento */
}

.light-sweep::before {
  content: "";
  position: absolute;
  top: 0;
  width: 200vw;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  transform: rotate(45deg);
  animation: scan-light 3s ease-in infinite;
}
@keyframes scan-light {
  from {
    right: -100vw;
  }
  to {
    right: 70vw;
  }
}